

   <div class="row   mx-auto justify-content-center  " style="margin-top: 15%;">

     <div class="card  " style="width: 18rem;  ">
       <div class="card-body ">
         <h5 class="card-title">Detalles de la Persona</h5>
         <hr>
         <p class="card-text"><b>Nombre:</b> {{persona.nombre}}</p>
         <p class="card-text"><b>Apellido:</b> {{persona.apellido}}</p>
         <p class="card-text"><b>Email:</b> {{persona.email}}</p>
         <p class="card-text"><b>teléfono:</b> {{persona.telefono}}</p>
         <div class="text-center">

           <a (click)="regresar()" href="#" class="btn btn-outline-success">Regresar</a>

         </div>
       </div>
     </div>
   </div>




