<div class="col-md-6 offset-md-3">

  <h3 class="text-center">Actualizar personas</h3>

  <form (ngSubmit)="onSubmit()">
    <div >
      <label for="nombre">Nombre <span class="text-danger">(*)</span></label>
      <input
        type="text"
        class="form-control shadow p-1  border-dark  bg-body rounded  shadow-none mb-2"
        id="nombre"
        [(ngModel)]="persona.nombre"
        name="nombre"

      />
    </div>

    <div >
      <label >Apellido</label>
      <input
        type="text"
        class="form-control shadow p-1  border-dark  bg-body rounded  shadow-none   mb-2"
        id="apellido"
        [(ngModel)]="persona.apellido"
        name="apellido"
      />
    </div>

    <div >
      <label for="email" >Email <span class="text-danger">(*)</span></label>
      <input
        type="text"
        class="form-control shadow p-1  border-dark  bg-body rounded  shadow-none mb-2"
        id="email"
        [(ngModel)]="persona.email"
        name="email"
      />
    </div>

    <div >
      <label for="telefono" >Teléfono</label>
      <input
        type="text"
        class="form-control shadow p-1  border-dark  bg-body rounded  shadow-none mb-2"
        id="telefono"
        [(ngModel)]="persona.telefono"
        name="telefono"
      />
    </div>

    <div class="text-center ">

      <button type="submit" class="btn btn-success mt-5 px-4 py-2 shadow-none border border-dark" >Actualizar</button>
    </div>

  </form>
  </div>
