<nav class="navbar navbar-expand-sm  navbar-dark bg-dark mb-3">
  <div class="container">

    <ul class="navbar-nav">
      <li class="nav-item">

        <a routerLink="persona" routerLinkActive="active" class="nav-link">Lista de Empleado</a>
      </li>
      <li class="nav-item">
        <a routerLink="crear-persona" routerLinkActive="active" class="nav-link">Crear Personas</a>
      </li>

    </ul>
  </div>
</nav>


<div class="container">



  <router-outlet ></router-outlet>


</div>


<footer class="footer ">
  <div class="container">
    <span >Todo los derechos reservados &copy; Fabian Andres ortiz </span>
  </div>
</footer>

